.container{
    background-color: rgb(220, 186, 136);
    color: rgb(24, 64, 117);
    border: 1px black solid;
}
*{
    margin: 0;
    padding: 0;
}
body{
    /* background-image: url('img.jpg');
    background-repeat:no-repeat;
    background-attachment: scroll;
    background-position: top center; */
    /* background-size:1300px ; */

    background: url('img.jpg') aqua no-repeat center scroll;
}